body {
    background-image: linear-gradient(0deg,rgba(1,1,1,.25),rgba(1,1,1,.25)),url("res/bg.jpg");
    background-repeat: repeat-x repeat-y;
}

#main {
    display: flex;
    background: linear-gradient(0deg,rgba(1,1,1,.5),rgba(1,1,1,.5));
    position: fixed;
    z-index: 9001;
    width: 135vh;
    height: 90vh;
    text-align: center;
    top: 5vh;
    left: calc(50vw - 66.5vh);
}

#auth {
    margin: auto;
}

.in {
    width: 200;
    text-align: center;
    clear: both;
    float: left;
    margin: 3px;
}

.hide {
    display: none;
}
