body {
    background-image: linear-gradient(0deg,rgba(1,1,1,.25),rgba(1,1,1,.25)),url("res/bg.jpg");
    background-repeat: repeat-x repeat-y;
}

#main {
    display: flex;
    background: linear-gradient(0deg,rgba(1,1,1,.5),rgba(1,1,1,.5));
    position: fixed;
    z-index: 9001;
    width: 90vw;
    height: 90vh;
    text-align: center;
    top: 5vh;
    left: 5vw;
}

#settings {
    position: relative;
    background: linear-gradient(0deg,rgba(1,1,1,.5),rgba(1,1,1,.5));
    width: 25%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#project_dash {
    width: 75%;
}
#logo {
    max-width: 100%;
    max-height: 75px;
}

#greeting{
    height: 25%;
    border-bottom-style: solid;
    border-bottom-color: gray;
}

#sources {
    display: block;
    height: 35%;
    width:90%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: white;
    overflow-y: scroll;
}

.hide {
    display: none;
}

#attribution{
    margin-top: 20%;
}