<div id="login" >
    <form ng-submit="login()" id="auth">
        <div id ="forms">
            <input class="in" type="email" placeholder="Enter Email" name="email" ng-model="user.email" required>
            <input class="in" type="password" placeholder="Enter Password" name="password" ng-model="user.password" required>
            <input class="in hide" type="name" placeholder="Enter Name" name="name" ng-model="user.name">
        </div>
    <button type="submit" id="login-btn">Login</button>
    <button type="button" id="register" onclick="toggleRegister()">Register</button>
    </form>
</div>
