<div id="dash">
    <div id="settings">
        <div id="greeting">
            <img id="logo" src="/static/logo.png"></img>
            <h3 id="name">Hello, {{ user.name }}!</h3>
            <button class="psubmit" type="button" ng-click="logOut()">Log Out</button>
        </div>
        <div id="project_settings">
            <h3>Currently viewing:</h3>
            <h3>{{selectedProject.name}}</h3>
            <button type="button" id="more" ng-click="toggleSelector()">Projects</button>
            <br><br>
            <h3>Data Sources</h3>
            <div id="sources">
                <div ng-repeat="source in source_array">{{source.description}} &nbsp;<img class="controller" id="minus" src="/static/minus.svg" ng-click="popSource(source)"></img></div>
            </div>
            <input class="psubmit" type="name" placeholder="New Data Source" name="name" ng-model="newDataSource.code">
            <img class="controller" id="plus" src="/static/plus.svg" ng-click="addSource()"></img>
        </div>
        <div ng-show="showSelector" id="project_selector">
            <button id="cancel" ng-click="toggleSelector()">X</button>
            <h1>Projects:</h1><br>
            <div id="projects">
                <div ng-repeat="p in projects">
                    <h3 ng-click="selectProject(p)">{{p.name}}</h3>
                </div>
            </div>
            <br>
            <button class="psubmit" type="button" ng-click="addProject()">Add Project</button>
            <input class="psubmit" type="name" placeholder="New Project Name" name="name" ng-model="newProject.name">
            <h3>Current Project API Token:<br>{{selectedProject.Token}}</h3>
            <button class="psubmit" type="button" ng-click="newToken(selectedProject)">Regenerate Token</button>
        </div>
        <div id="attribution">
            Canary Project, 2016
        </div>
    </div>
    <div id="project_dash">
        <table id="dash_table">
                <tr ng-repeat="sources in squaredSources"><td ng-repeat="source in sources" ng-style="getColor(source.code)">{{source.code}}<br>{{source.description}}</td></tr>
        </table>
    </div>
</div>
