<div id="login" >
    <form ng-show="!modeRegister" ng-submit="login()" id="auth">
        <p id="alert" ng-show="badCreds">Incorrect email or password</p>
        <div id ="forms">
            <input class="in" type="email" placeholder="Enter Email" name="email" ng-model="loginUser.email" required>
            <input class="in" type="password" placeholder="Enter Password" name="password" ng-model="loginUser.password" required>
        </div>
    <button type="submit" id="login-btn">Login</button>
    <button type="button" id="register" ng-click="toggleRegisterLogin()">Don't have account?</button>
    </form>

    <form ng-show="modeRegister" ng-submit="register()" id="auth">
        <div id ="forms">
            <input class="in" type="name" placeholder="Enter Name" name="name" ng-model="registerUser.name">
            <input class="in" type="email" placeholder="Enter Email" name="email" ng-model="registerUser.email" required>
            <input class="in" type="password" placeholder="Enter Password" name="password" ng-model="registerUser.password" required>
        </div>
        <button type="submit" id="login-btn">Register</button>
        <button type="button" id="register" ng-click="toggleRegisterLogin()">Have account?</button>
    </form>
</div>
